.error-message {
  background-color: #fef2f2;
  border-left: 4px solid #f87171;
  padding: 1rem;
  margin-bottom: 1rem;
}

.error-message-container {
  display: flex;
}

.error-message-icon-container {
  flex-shrink: 0;
}

.error-message-icon {
  height: 1.25rem;
  width: 1.25rem;
  color: #f87171;
}

.error-message-content {
  margin-left: 0.75rem;
}

.error-message-text {
  font-size: 0.875rem;
  color: #b91c1c;
}
